*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    background-color: rgb(3, 3, 39);
 }

 .content{
    width: 90%;
    height: 550px;
    margin: auto;
    margin-top: 100px;
    background: linear-gradient(to top left, rgb(33, 0, 37), rgb(2, 49, 63));
    opacity: 50%;
    border-radius: 20px;
    box-shadow: 1px 20px 20px rgb(2, 49, 63);
    
 }

 .nav{
    max-width: 50%;
    margin: auto;
    text-align: center;
 }

 ul{
    list-style-type: none;
    display: inline-flex;

 }

 li{
    padding: 10px;
 }

 li a{
    text-decoration: none;
    color: #df15e6;
    font-size: 18px;
    font-family: monospace;
    font-weight: 700;
 }

 li a:hover{
    text-shadow: -10px 10px 30px orange;
 }

 .card{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .card-left{
    width: 45%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
 }

 .card-right{
    width: 45%;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
 }

 #titulo-nome{
    color: #df15e6;
    font-size: 70px;
    font-family: cursive;
    text-shadow: -10px 10px 30px rgb(54, 128, 238);
 }

 #titulo-pro{
    color: rgb(61, 212, 61);
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: -20px 10px 30px rgb(84, 230, 84);
    margin-top: 30px;
    margin-left: -120px;
 }

 #titulo-skills{
    color: rgb(86, 235, 86);
    font-size: 18px;
    font-family: monospace;
    text-shadow: -10px 10px 30px rgb(84, 230, 84);
    margin-top: 30px;
    margin-left: 150px;
 }

 #foto-perfil{
    border-radius: 20%;
    width: 250px;
    background: linear-gradient(to top left, rgb(2, 49, 63), rgb(33 0 37 / 22%));
    box-shadow: -10px 20px 20px rgb(84, 230, 84);
 }

 #foto-perfil:hover{
    box-shadow: -10px 20px 20px blue;
 }