*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    background-color: rgb(3, 3, 39);
 }

 .content{
    width: 90%;
    min-height: 2000px;
    margin: auto;
    margin-top: 100px;
    background: linear-gradient(to top left, rgb(33, 0, 37), rgb(2, 49, 63));
    opacity: 90%;
    border-radius: 20px;
    box-shadow: 1px 20px 20px rgb(2, 49, 63);
    
 }

 .nav{
    max-width: 50%;
    margin: auto;
    text-align: center;
 }

 ul{
    list-style-type: none;
    display: inline-flex;

 }

 li{
    padding: 10px;
 }

 li a{
    text-decoration: none;
    color: #df15e6;
    font-size: 18px;
    font-family: monospace;
    font-weight: 700;
 }

 li a:hover{
    text-shadow: -10px 10px 30px orange;
 }

 .card{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .card-details{
   width: 100%;
   min-height: 200px;
   margin-top: 150px;
 }

 /* animacao com estrelas*/
 .estrelas{
   position: relative;
   width: 3px;
   height: 3px;
   border-radius: 50%;
   box-shadow: 50px 30px white,
   100px 80px white,
   800px 120px white,
   250px 50px white,
   300px 90px white,
   200px 30px white,
   50px 120px white,
   60px 20px white,
   150px 300px white,
   420px 200px white,
   210px 90px white;
   animation: anim-estrelas 40s linear infinite;
 }

 .estrelas::after{
   content: "";
   position: absolute;
   width: 3px;
   height: 3px;
   border-radius: 50%;
   box-shadow: 50px 30px white,
   100px 80px white,
   800px 120px white,
   250px 50px white,
   300px 90px white,
   200px 30px white,
   50px 120px white,
   60px 20px white,
   150px 300px white,
   420px 200px white,
   210px 90px white;

 }

 @keyframes anim-estrelas{
   from{
      transform: translateY(0px);
   }
   to{
      transform: translateY(-600px);
   }
 }

 /*fim da animacao*/
 .details-left{
   width: 45%;
   min-height: 200px;
   background: linear-gradient(to top right, #1c596b, rgb(33 0 37 / 22%));
   margin-left: 20px;
   float: left;
   box-shadow: 10px 15px;
   
}

.details-right{
   width: 45%;
   min-height: 200px;
   background: linear-gradient(to top right, rgb(2, 49, 63), #1c596b);
   margin-right: 20px;
   float: right;
   box-shadow: -10px 15px;

}

.right-bg{
   background: none;
   box-shadow: none;
}

.left-bg{
   background: none;
   box-shadow: none;
}

.details-left:hover{
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   box-shadow: 5px 5px #1c596b;
   animation: anim-hab 10s linear infinite;
}

.left-bg:hover{
   border-bottom-left-radius: none;
   border-bottom-right-radius: none;
   box-shadow: none;
}

.details-right:hover{
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   box-shadow: -5px 5px #1c596b;
}

.right-bg:hover{
   border-bottom-left-radius: none;
   border-bottom-right-radius: none;
   box-shadow: none;
}

 .card-left{
    width: 45%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
 }

 .card-right{
    width: 45%;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
 }

 #titulo-nome{
    color: #df15e6;
    font-size: 70px;
    font-family: cursive;
    text-shadow: -10px 10px 30px rgb(54, 128, 238);
 }

 @keyframes anim-hab{
   from{
      transform: translateX(50px);
   }
 }

 #titulo-pro{
    color: rgb(61, 212, 61);
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: -20px 10px 30px rgb(84, 230, 84);
    margin-top: 30px;
    margin-left: -120px;
    
 }

 #titulo-skills{
    color: rgb(86, 235, 86);
    font-size: 18px;
    font-family: monospace;
    text-shadow: -10px 10px 30px rgb(84, 230, 84);
    margin-top: 30px;
    margin-left: 150px;
 }

 #titulo-descricao{
   width: 60%;
   color: rgb(114, 161, 231);
   font-size: 18px;
   font-family: monospace;
   text-shadow: -10px 10px 30px rgb(84, 230, 84);
   margin-top: 100px;
   margin: auto;
}

#titulo-hab1{
   width: 20%;
   color: rgb(212, 55, 230);
   font-size: 22px;
   font-weight: 1200;
   font-family: monospace;
   margin-left: 22px;
   text-shadow: 1px 1px rgb(54, 128, 238);
}

#titulo-hab2{
   width: 20%;
   color: rgb(212, 55, 230);
   font-size: 22px;
   font-weight: 1200;
   font-family: monospace;
   margin-left: 22px;
   text-shadow: 1px 1px rgb(54, 128, 238);
}

#right-hab{
   color: rgb(212, 55, 230);
   font-size: 22px;
   font-weight: 1200;
   font-family: monospace;
   text-shadow: 1px 1px rgb(54, 128, 238);
   margin-left: 470px;
   margin-top: -25px;
}

p{
   width: 90%;
   color: rgb(114, 161, 231);
   font-size: 17px;
   font-weight: 600;
   font-family: monospace;
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
}


 #foto-perfil{
    border-radius: 20%;
    width: 250px;
    background: linear-gradient(to top left, rgb(2, 49, 63), rgb(33 0 37 / 22%));
    box-shadow: -10px 20px 20px rgb(84, 230, 84);
    animation: anim-foto 5s linear;
 }

 @keyframes anim-foto{
   from{
      transform: translateX(-50px);
   }
 }

 #foto-perfil:hover{
    box-shadow: -10px 20px 20px blue;
 }

 .projetos{
   margin-top: 340px;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
 }

 .card-projetos{
   width: 400px;
   min-height: 400px;
   margin: auto;
   margin-top: 10px;
 
 }

 #img-pro{
   width: 95%;
   margin-left: 20px;

 }

 @media only screen and (max-device-width: 900px){
    .content{
        max-width: 100%;
        min-height: 700px;
    }

    .card{
        height: auto;
        flex-direction: column;
    }

    .card-right{
        display: none;
    }
    #titulo-pro{
        margin-top: 70px;
        margin-left: auto;
    }
    #titulo-skills{
        margin-left: auto;
        margin-top: 70px;
        font-size: 20px;
    }

    .nav{
        display: none;
    }

 }